{{define "top"}}
    <!-- BEGIN top bar -->
    <nav class="navbar navbar-dark-style bg-dark navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-brand d-flex flex-row align-items-center">
          <a data-turbo="false" href="/">
            <div class="d-flex flex-row align-items-center">
              <img class="header-logo ms-2 me-2" alt="SUSE" src="https://static.scc.suse.com/assets/suse-white-logo-green-9f0302c0fa1761b18a9779355da14916d6d37208ac95ad4db2856f73b71aa8c7.svg">
              <!-- left text -->
            </div>
          </a>
        </div>
        <div class="navbar-collapse collapse justify-content-lg-end" id="navbarCollapsedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!-- right text -->
              Client Certificate Management
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="navbar-end-line">
      <div class="header-end-line-persimmon"></div>
      <div class="header-end-line-green"></div>
      <div class="header-end-line-waterhole-blue"></div>
      <div class="header-end-line-mint"></div>
    </div>
    <!-- END top bar -->
{{end}}
